/* About home section */
.about-home,
.facts-home,
.element {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    gap: 260px;
}
.about-home .text,
.element .text,
.facts-home .text{
    width: 500px;
}
.about-home .subtitle {
    margin-top: 26px;
}
.about-home .content,
.facts-home .content,
.element .content h4 {
    color: rgb(255, 255, 255);
    margin-top: 26px;
}
.about-home-illustration{
    width: 250px;
    object-fit: cover;
    border-radius: 6px;
}

/* Facts home section */
.facts-home {
    gap: 200px;
    padding: 20px 0px 30px 0px;
    background-color: rgb(72, 72, 72);
    margin-top: 80px;
}
.title,
.subtitle {
    margin-top: 26px;
}
.facts-home-illustration,
.secret-about-home-illustration  {
    width: 450px;
    object-fit: cover;
    border-radius: 6px;
}
.secret-about-home-illustration {
    display: none;
}

/* All elements section */
.element {
    gap: 200px;
    margin: 30px 0px 80px 0px;
    justify-content: space-between;
    max-width: 1240px;
    width: 100%;
}
.elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.element-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    max-width: 1240px;
    width: 100%;
}
.element-header-icon {
    width: 64px;
}
.element-header-title {
    font-weight: 700;
    color: rgb(148, 200, 234);
}
.element-header-decoration {
    height: 12px;
    flex: 1;
    background-color: rgb(148, 200, 234);
    border-radius: 12px;
}
.about-picture {
    height: 300px;
    object-fit: cover;
    border-radius: 6px;
}
.about-rectangle-picture {
    height: 400px;
}

/* Responsive Design */
@media (max-width: 1450px) {
    /* About home section scale */
    .about-home,
    .facts-home,
    element {
        gap: 100px;
    }
    .about-home-illustration {
        width: 200px;
    }

    /* Facts home section scale*/
    .facts-home-illustration,
    .secret-about-home-illustration {
        width: 400px;
    }

    /* All elements section scale */
    .element {
        width: 1150px;
    }
    .element-header {
        width: 1150px;
    }
    .element-header-icon {
        width: 48px;
    }
    .element-header-decoration {
        height: 8px;
    }
    .about-picture {
        height: 250;
    }
    .about-rectangle-picture {
        height: 350px;
    }
}

@media (max-width: 1200px) {
    /* About home section scale */
    .about-home,
    .facts-home,
    .element {
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding: 100px;
        margin-top: 50px;
    }
    .about-home .text {
        text-align: center;
    }
    .about-home-illustration {
        display: none;
    }
    .secret-about-home-illustration {
        display: flex;
    }

    /* Facts home section scale */
    .facts-home {
        padding: 0px;
        padding-bottom: 30px;
        margin-top: 0px;
    }
    .facts-home-illustration {
        display: none;
    }

    /* All elements section scale */
    .element {
        margin: 0px;
    }
    .element-header {
        width: 500px;
    }
    .element-header-icon {
        width: 64px;
    }
}

@media (max-width: 600px) {
    /* About home section scale */
    .about-home .text,
    .element .text,
    .facts-home .text {
        width: 280px;
    }
}

@media (max-width: 500px) {
    /* About home section scale */
    .secret-about-home-illustration {
        width: 300px;
    }

    /* All elements section scale */
    .element-header {
        gap: 20px;
        width: 325px;
    }
    .element-header-icon {
        width: 48px;
    }
    .about-picture {
        height: 200px;
    }
    .about-rectangle-picture {
        height: 250px;
    }
}