/* About home section */
.about-home,
.facts-home,
.element {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    gap: 260px;
}
.about-home .text,
.element .text,
.facts-home .text{
    width: 500px;
}
.about-home .subtitle {
    margin-top: 26px;
}
.about-home .content,
.facts-home .content,
.element .conten {
    color: rgb(255, 255, 255);
    margin-top: 26px;
}
.about-home-illustration {
    height: 400px;
    object-fit: cover;
    border-radius: 6px;
}

/* Facts home section */
.facts-home {
    gap: 200px;
    padding: 20px 0px 30px 0px;
    background-color: rgb(72, 72, 72);
    margin-top: 80px;
}
.title {
    margin-top: 26px;
}
.subtitle {
    margin-top: 26px;
}
.facts-home-illustration {
    height: 300px;
    object-fit: cover;
    border-radius: 6px;
}

/* All elements section */
.element {
    gap: 200px;
    margin: 30px 0px 80px 0px;
}
.elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.element-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    width: 1250px;
}
.element-header-icon {
    width: 64px;
}
.element-header-title {
    font-weight: 700;
    color: rgb(148, 200, 234);
}
.element-header-decoration {
    height: 12px;
    flex: 1;
    background-color: rgb(148, 200, 234);
    border-radius: 12px;
}
.about-picture {
    height: 300px;
    object-fit: cover;
    border-radius: 6px;
}
.about-rectangle-picture {
    height: 400px;
}