/* Experience home section */
.experience-home,
.experience {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    gap: 260px;
}
.experience-home .text,
.experience .text{
    width: 500px;
}
.experience-home .subtitle {
    margin-top: 26px;
}
.experience-home .content,
.experience .content h4 {
    color: rgb(255, 255, 255);
    margin-top: 26px;
}
.experience-home-illustration {
    width: 450px;
    object-fit: cover;
}

/* All experiences section */
.experience {
    gap: 200px;
    padding: 20px 0px 30px 0px;
}
.experience-odd {
    background-color: rgb(72, 72, 72);
}
.title {
    margin-top: 26px;
}
.subtitle,
.subtitle-blue {
    margin-top: 26px;
}
.subtitle-blue {
    color: rgb(148, 200, 234);
}
.experience-illustration {
    width: 500px;
    object-fit: cover;
    border-radius: 10px;
}

/* Responsive Design */
@media (max-width: 1450px) {
    /* Main home section scale */
    .experience-home,
    .experience {
        gap: 100px;
    }
    .experience-home-illustration {
        width: 400px;
    }
    .experience-illustration {
        width: 450px;
    }
}

@media (max-width: 1200px) {
    /* Main home section scale */
    .experience-home,
    .experience {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 100px ;
        margin-top: 50px;
    }
    .experience-home .text {
        text-align: center;
    }
    .experience {
        gap: 40px;
    }
}

@media (max-width: 500px) {
    /* Main home section scale */
    .experience-home .text,
    .experience .text {
        width: 280px;
    }
    .experience-home .subtitle {
        text-wrap: wrap;
    }
    .experience-home-illustration {
        width: 300px;
    }
    .experience-illustration {
        width: 300px;
    }
}