/* Experience home section */
.experience-home,
.experience {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    gap: 260px;
}
.experience-home .text,
.experience .text{
    width: 500px;
}
.experience-home .subtitle {
    margin-top: 26px;
}
.experience-home .content,
.experience .content h4 {
    color: rgb(255, 255, 255);
    margin-top: 26px;
}
.experience-home-illustration {
    height: 450px;
    object-fit: cover;
}

/* All experiences section */
.experience {
    gap: 200px;
    padding: 20px 0px 30px 0px;
}
.experience-odd {
    background-color: rgb(72, 72, 72);
}
.title {
    margin-top: 26px;
}
.subtitle,
.subtitle-blue {
    margin-top: 26px;
}
.subtitle-blue {
    color: rgb(148, 200, 234);
}
.experience-illustration {
    height: 300px;
    object-fit: cover;
    border-radius: 6px;
}

