.footer {
    height: 90px;
    background-color: rgb(198, 198, 198);
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.footer-logo {
    height: 80px;
    cursor: pointer;
}
.footer-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-right: 50px;
    margin-left: 50px;
}
.footer-menu h5 {
    color: rgb(72, 72, 72);
    padding: 4px 8px 4px 8px;
    border-radius: 6px;
    transition: background-color 0.3s ease-in;
    text-wrap: nowrap;
}
.footer-menu p:hover {
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.responsive-footer {
    height: 90px;
    background-color: rgb(198, 198, 198);
    margin-top: 100px;
    display: none;
    flex-direction: row;
    align-items:end;
    justify-content: center;
}

@media (max-width: 1200px) {
    .footer {
        display: none;
    }
    .responsive-footer {
        display: flex;
    }
    .footer-logo {
        height: 60px;
    }
    .footer-menu {
        flex-direction: column;
        gap: 2px;
    }
    .footer-menu p {
        font-size: 12px;
    }
}