html {
    scroll-behavior: smooth;
}
body {
    background-color: rgb(46, 42, 42);
}
p,
ul {
    font-family: Roboto, Arial;
    margin: 0px
}
a {
    text-decoration: none;
}
button {
    font-family: Roboto, Arial;
}
.text-indent {
    margin-left: 20px;
    font-weight: bold;
}
.text-bold {
    font-weight: bold;
}