.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 90px;
    z-index: 100;
    background-color: rgb(46, 42, 42);
    border-bottom-style: solid;
    border-bottom-color: rgb(72, 72, 72);
    border-bottom-width: 1px;
}
.left-section {
    margin-left: 70px;
}
.jc-logo {
    height: 90px;
}
.jc-logo:hover {
    cursor: pointer;
}
.middle-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 642px;
}
.middle-section p {
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 4px 8px 4px 8px;
    border-radius: 6px;
    transition: background-color 0.3s ease-in;
}
.right-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 234px;
    margin-right: 70px;
}
.github-icon,
.linkedin-icon,
.instagram-icon,
.x-icon {
    width: 36px;
}

.middle-section p:hover {
    background-color: rgba(148, 200, 234, 0.5);
    cursor: pointer;
}

.right-section img:hover {
    opacity: 0.75;
    cursor: pointer;
}