.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.left-section {
    margin-left: 70px;
    
}
.jc-logo {
    height: 90px;
}
.middle-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 642px;
}
.middle-section p {
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 4px 8px 4px 8px;
    border-radius: 6px;
    transition: background-color 0.3s ease-in;
}
.right-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 234px;
    margin-right: 70px;
}
.github-icon,
.linkedin-icon,
.instagram-icon,
.x-icon {
    width: 36px;
}

.middle-section p:hover {
    background-color: rgba(198, 198, 198, 0.25);
}