/* Main home section */
.main-home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    gap: 280px;
    background-image: url('../images/background-1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 240px ;
}
.main-home .text {
    width: 500px;
}
.main-home .subtitle {
    line-height: 36px;
    margin-top: 26px;
    text-wrap: nowrap;
}
.connect-button,
.view-button,
.know-button,
.email-button {
    font-size: 20px;
    color: rgb(148, 200, 234);
    background-color: rgb(46, 42, 42);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(148, 200, 234);
    border-radius: 8px;
    padding: 14px 24px 14px 24px;
    margin-top: 40px;
    transition: background-color 0.25s;
    text-wrap: nowrap;
}
.view-button,
.know-button,
.email-button {
    font-size: 16px;
}
.connect-button:hover,
.view-button:hover,
.know-button:hover,
.email-button:hover {
    background-color: rgba(148, 200, 234, 0.1);
    cursor: pointer;
}
.main-home-illustration {
    width: 500px;
    object-fit: cover;
    border-radius: 10px;
}

/* Other sections */
.work,
.about-me,
.professional-experience,
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    padding: 50px 0px;
}
.work .text,
.about-me .text,
.professional-experience .text,
.contact .text {
    text-align: center;
    line-height: 35px;
    width: 1050px;
}
.subtitle {
    margin-top: 30px;
}

/* Projects section */
.recent-projects {
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin-top: 60px;
}
.project {
    display: flex;
    flex-direction: column;
    background-color: rgb(56, 56, 56);
    padding: 10px;
    width: 380px;
    border-radius: 14px;
    transition: box-shadow 0.75s ease-in-out; 
}
.project-picture {
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}
.project-description {
    background-color: rgb(72, 72, 72);
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
}
.project-title-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
.project-title {
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.arrow-icon {
    width: 24px;
    transition: transform 0.75s;
}
.project-subtitle {
    margin-bottom: 30px;
}
.project:hover {
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.project:hover .arrow-icon {
    transform: rotate(-45deg);
}

/* Elements section */
.elements {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 60px;
}
.element {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    border: 3px solid rgb(198, 198, 198);;
    width: 365px;
    height: 100%;
    padding: 26px;
    transition: box-shadow 0.75s ease-in-out; 
}
@keyframes shake {
    0%, 100% { transform: translate(0, 0) rotate(2deg); }
    10%, 90% { transform: translate(-1px, 0) rotate(-2deg); }
    20%, 80% { transform: translate(2px, 0) rotate(2deg); }
    30%, 50%, 70% { transform: translate(-3px, 0) rotate(-2deg); }
    40%, 60% { transform: translate(3px, 0) rotate(2deg); }
}
.element:hover .element-icon {
    animation: shake 1s ease-in-out;
    animation-delay: 1s;
}
.element:hover {
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.element-title-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin-bottom: 16px;
    gap: 40px;
}
.element-icon {
    width: 64px;
}
.element-title {
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-color: rgb(148, 200, 234);
    text-decoration-thickness: 5px;
    text-underline-offset: 10px;
}
.element-content {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: left;
    height: 100%;
    gap: 20px;
    margin-top: 20px;
}
.element-decoration {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 40px;
    opacity: 0.5;
}
.element-decoration-text {
    font-size: 16px;
    color: rgb(198, 198, 198);
}
.element-decoration-line {
    border-left: 2px solid rgb(198, 198, 198);
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Skills section */
.skills-languajes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 280px;
    margin-top: 60px;
}
.skills-box {
    display: flex;
    flex-direction: column;
}
.skills-title,
.languajes-title,
.email-title {
    text-align: center;
    margin-bottom: 40px;
}
.skills-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
}
.skills-subtitle,
.languaje-subtitle {
    font-weight: bold;
    text-align: center;
    text-wrap: nowrap;
}
.programming-skills,
.pc-mac-skills,
.video-skills,
.design-skills {
    display: flex;
    flex: row;
    align-items: center;
    justify-content: left;
    gap: 16px;
}
.pc-mac-skills {
    position: relative;
    left: 50px;
}
.video-skills {
    position: relative;
    left: 90px;
}
.design-skills {
    position: relative;
    left: 40px;
}
.programming-skills h6,
.video-skills h6 {
    color: rgb(255, 255, 255);
    padding: 14px 18px 14px 18px;
    background-color: rgb(56, 56, 56);
    border-radius: 8px;
    text-wrap: nowrap;
}
.pc-mac-skills h6,
.design-skills h6,
.languaje {
    color: rgb(56, 56, 56);
    padding: 14px 18px 14px 18px;
    background-color: rgb(198, 198, 198);
    border-radius: 8px;
    text-wrap: nowrap;
}
.languajes-box {
    display: flex;
    flex-direction: column;
}
.languajes-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
}

/* Experiences section */
.experiences {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    max-width: 1000px;
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0 20px; 
}
.experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.experience-title-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
    background-color: rgb(198, 198, 198);
    border-radius: 10px;
    transition: box-shadow 0.75s ease-in-out; 
}
.experience-title-box:hover {
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.experience-title-box h4 {
    color: rgb(56, 56, 56);
}
.experience-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 20px;
    background-color: rgb(72, 72, 72);
    border-radius: 10px;
    gap: 40px;
    transition: box-shadow 0.75s ease-in-out; 
}
.experience-content:hover {
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.experience-text {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    line-height: 30px;
}
.experience-info-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 30px;
}
.experience-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    text-align: justify;
    gap: 8px;
}
.experience-info img {
    width: 24px;
}
.experience-description {
    color: rgb(255, 255, 255);
}
.experience-skills {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 20px;
    flex-wrap: wrap;
}
.experience-skills h6 {
    color: rgb(56, 56, 56);
    padding: 4px 12px 4px 12px;
    background-color: rgb(148, 200, 234);
    border-radius: 8px;
}
.experience-logo {
    width: 170px;
    border-radius: 16px;
}

/* Social media section */
.social-media-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 16px;
    border: 1px solid rgb(72, 72, 72);
    margin-top: 60px;
    margin-bottom: 80px;
}
.social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 240px;
    padding: 24px 40px 24px 40px;
    border-right: 1px solid rgb(72, 72, 72);
    transition: background-color 0.25s;
}
.social-media-box:last-child {
    border-right: none;
}
.social-media-icon {
    width: 24px;
}
.social-media-arrow-icon {
    width: 16px;
    transition: transform 0.75s;
}
.social-media h4,
.text-boxes-subtitle {
    font-weight: bold;
}
.social-media:hover {
    background-color: rgba(148, 200, 234, 0.1);
    cursor: pointer;
}
.social-media:hover .social-media-arrow-icon {
    transform: rotate(-45deg);
}

/* Email section */
.email-title {
    text-align: center;
    margin-bottom: 40px;
}
.text-boxes {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    gap: 40px;
    max-width: 1000px;
    width: 100%;
}
.left-text-boxes,
.right-text-boxes {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    width: 100%;
}
.text-box-small,
.text-box-big {
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 30px;
    background-color: rgb(72, 72, 72);
    border: 2px solid rgb(255, 255, 255);
    padding: 10px;
}
.text-box-big {
    height: 150px;
}
.text-box-small:focus,
.text-box-big:focus {
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.5);
}
.button-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

/* Responsive Design */
@media (max-width: 1450px) {
    /* Main home section scale */
    .main-home {
        gap: 100px;
    }
    .main-home-illustration {
        width: 450px;
        border-radius: 10px;
    }

    /* Projects section scale */
    .recent-projects {
        gap: 50px;
    }
    .project {
        width: 320px;
    }
    .project-picture {
        height: 170px;
    }
    .project-title-box {
        margin-bottom: 12px;
    }
    .project-subtitle {
        margin-bottom: 20px;
    }
    .arrow-icon {
        width: 20px;
    }

    /* Elements section scale */
    .element {
        width: 310px;
        min-height: 520px;
    }
    .element-icon {
        width: 48px;
    }

    /* Skills section scale */
    .skills-languajes {
        gap: 100px;
    }

    /* Experiences section scale */
    .experience-logo {
        width: 145px;
    }

    /* Social media section scale */
    .social-media {
        width: 200px;
    }
}

@media (max-width: 1200px) {
    /* Main home section scale */
    .main-home {
        flex-direction: column;
        align-items: center;
        gap: 60px;
        padding: 100px ;
    }
    .main-home .text {
        text-align: center;
    }
    .work .text,
    .about-me .text,
    .professional-experience .text,
    .contact .text {
        width: 500px;
    }

    /* Projects section scale */
    .recent-projects {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .project {
        width: 380px;
    }
    .project-picture {
        height: 200px;
    }
    .project-title-box {
        margin-bottom: 16px;
    }
    .project-subtitle {
        margin-bottom: 30px;
    }
    .arrow-icon {
        width: 24px;
    }

    /* Elements section scale */
    .elements {
        flex-wrap: wrap;
        justify-content: center;
        align-items: top;
    }
    .element {
        width: 365px;
    }
    .element-icon {
        width: 64px;
    }

    /* Skills section scale */
    .skills-languajes {
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        margin-left: 20px;
        margin-right: 40px;
    }
    .languajes-content {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    /* Experiences section scale */
    .experience-logo {
        width: 170px;
    }

    /* Social media section scale */
    .social-media-box {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        border: none;
    }
    .social-media {
        border: 1px solid rgb(72, 72, 72);
        border-radius: 16px;
    }

    /* Email section scale */
    .text-boxes {
        max-width: calc(100% - 160px);
    }
}

@media (max-width: 1090px) {
    /* Experiences section scale */
    .experience-content {
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: center;
    }

    /* Email section scale */
    .text-boxes {
        flex-direction: column;
        gap: 0px;
    }
}

@media (max-width: 866px) {
    /* Skills section scale */
    .skills-row {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .programming-skills,
    .pc-mac-skills,
    .video-skills,
    .design-skills {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .pc-mac-skills,
    .video-skills,
    .design-skills {
        left: 00px;
    }
    .languajes-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* Experiences section scale */
    .experience-title-box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .experience-title-box h4 {
        text-align: center;
    }
}

@media (max-width: 500px) {
    /* Main home section scale */
    .main-home .text {
        width: 280px;
    }
    .work .text,
    .about-me .text,
    .professional-experience .text,
    .contact .text {
        width: 280px;
    }
    .main-home .subtitle {
        text-wrap: wrap;
    }
    .main-home-illustration {
        width: 300px;
    }

    /* Projects section scale */
    .project {
        width: 320px;
    }
    .project-picture {
        height: 170px;
    }
    .project-title-box {
        margin-bottom: 12px;
    }
    .project-subtitle {
        margin-bottom: 20px;
    }
    .arrow-icon {
        width: 20px;
    }

    /* Elements section scale */
    .element {
        width: 310px;
        min-height: 0px;
    }
    .element-icon {
        width: 48px;
    }

    /* Skills section scale */
    .skills-languajes {
        gap: 50px;
    }

    /* Experiences section scale */
    .experience-logo {
        width: 145px;
    }

    /* Email section scale */
    .text-boxes {
        max-width: calc(100% - 80px);
    }
}

