.project-home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    gap: 260px;
}
.text {
    width: 500px;
}
.project-home .title {
    font-size: 70px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}
.project-home .subtitle {
    font-size: 24px;
    color: rgb(198, 198, 198);
    line-height: 36px;
    margin-top: 26px;
}
.connect-button {
    font-size: 16px;
    color: rgb(148, 200, 234);
    background-color: rgb(46, 42, 42);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(148, 200, 234);
    border-radius: 8px;
    padding: 14px 24px 14px 24px;
    margin-top: 40px;
    transition: background-color 0.25s;
}
.connect-button:hover {
    background-color: rgba(148, 200, 234, 0.1);
    cursor: pointer;
}

.project-home-illustration {
    height: 300px;
    object-fit: cover;
}

.details {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    margin-top: 120px;
    gap: 200px;
    padding: 50px 0px;
}
.about-it,
.tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 35px;
    width: 550px;
}
.title {
    font-size: 40px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
}
.subtitle {
    font-size: 20px;
    color: rgb(198, 198, 198);
}

.tools-used {
    display: flex;
    flex-direction: column;
    align-items: left;
}
.skills-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
}
.skills-subtitle,
.languaje-subtitle {
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    color: rgb(198, 198, 198);
}
.programming-skills,
.pc-mac-skills,
.video-skills,
.design-skills {
    display: flex;
    flex: row;
    align-items: center;
    justify-content: left;
    gap: 16px;
}
.pc-mac-skills {
    position: relative;
    left: 50px;
}
.video-skills {
    position: relative;
    left: 90px;
}
.design-skills {
    position: relative;
    left: 40px;
}
.programming-skills p,
.video-skills p {
    font-size: 16px;
    color: rgb(255, 255, 255);
    padding: 14px 18px 14px 18px;
    background-color: rgb(56, 56, 56);
    border-radius: 8px;
}
.pc-mac-skills p,
.design-skills p,
.languaje {
    font-size: 16px;
    color: rgb(56, 56, 56);
    padding: 14px 18px 14px 18px;
    background-color: rgb(198, 198, 198);
    border-radius: 8px;
}
.languajes-box {
    display: flex;
    flex-direction: column;
}
.languajes-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.project-buttons-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    margin-top: 40px;
    gap: 20px;
}
.project-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    gap: 16px;
    width: 150px;
    padding: 24px 40px 24px 40px;
    transition: background-color 0.25s;
}
.social-media-icon {
    width: 24px;
}
.social-media-arrow-icon {
    width: 16px;
    transition: transform 0.75s;
}
.project-button p,
.text-boxes-subtitle {
    font-size: 20px;
    font-weight: 400;
    color: rgb(198, 198, 198);
}
.project-button:hover {
    background-color: rgba(148, 200, 234, 0.1);
    cursor: pointer;
}
.project-button:hover .social-media-arrow-icon {
    transform: rotate(-45deg);
}