/* Project home section */
.project-home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    gap: 260px;
}
.text {
    width: 500px;
}
.project-home .subtitle {
    margin-top: 26px;
}
.link-button {
    font-size: 16px;
    color: rgb(148, 200, 234);
    background-color: rgb(46, 42, 42);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(148, 200, 234);
    border-radius: 8px;
    padding: 14px 24px 14px 24px;
    margin-top: 40px;
    transition: background-color 0.25s;
}
.link-button:hover {
    background-color: rgba(148, 200, 234, 0.1);
    cursor: pointer;
}
.project-home-illustration {
    height: 300px;
    object-fit: cover;
}

/* Project details section */
.details,
.buttons {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    margin-top: 50px;
    gap: 200px;
    padding: 50px 0px;
}
.about-it,
.tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    line-height: 35px;
    width: 550px;
}
.title,
.subtitle {
    margin-bottom: 26px;
}
.content {
    color: rgb(255, 255, 255);
}
.tools-used {
    display: flex;
    flex-direction: column;
    align-items: left;
}
.skills-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
}
.programming-skills {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 16px;
}
.programming-skills h6 {
    font-size: 16px;
    color: rgb(255, 255, 255);
    padding: 14px 18px 14px 18px;
    background-color: rgb(56, 56, 56);
    border-radius: 8px;
}

/* Project buttons box */
.project-buttons-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 16px;
    border: 1px solid rgb(72, 72, 72);
}
.project-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 240px;
    padding: 24px 40px 24px 40px;
    border-right: 1px solid rgb(72, 72, 72);
    transition: background-color 0.25s;
}
.project-buttons-box:last-child {
    border-right: none;
}
.project-button-icon {
    width: 24px;
}
.project-button-arrow-icon {
    width: 16px;
    transition: transform 0.75s;
}
.project-button:hover {
    background-color: rgba(148, 200, 234, 0.1);
    cursor: pointer;
}
.project-button:hover .project-button-arrow-icon {
    transform: rotate(-45deg);
}

/* Responsive Design */
@media (max-width: 1450px) {
    /* Project home section scale */
    .project-home {
        gap: 100px;
    }
    .project-home-illustration {
        height: 250px;
    }

    /* Project details section scale */
    .details,
    .buttons {
        gap: 100px;
    }
    .about-it,
    .tools {
        width: 470px;
    }
}

@media (max-width: 1200px) {
    /* Project home section scale */
    .project-home {
        flex-direction: column;
        align-items: center;
        gap: 60px;
        padding: 100px;
        margin-top: 50px;
    }
    .project-home .text {
        text-align: center;
    }

    /* Project details section scale */
    .details,
    .buttons {
        flex-direction: column;
        align-items: center;
        gap: 60px;
        padding: 50px;
        margin-top: 0px;
    }
}

@media (max-width: 500px) {
    /* Project home section scale */
    .project-home .text {
        width: 280px;
    }
    .project-home-illustration {
        height: 170px;
    }

    /* Project details section scale */
    .about-it,
    .tools {
        width: 280px;
    }

    /* Project buttons box */
    .project-buttons-box {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        border: none;
    }
    .project-button {
        border: 1px solid rgb(72, 72, 72);
        border-radius: 16px;
    }
}