.work-home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
    gap: 300px;
}
.text {
    width: 500px;
}
.work-home .title {
    font-size: 70px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}
.work-home .subtitle,
.work-home .content {
    font-size: 24px;
    color: rgb(198, 198, 198);
    line-height: 36px;
    margin-top: 26px;
}
.work-home .content {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.work-home-illustration {
    width: 450px;
    object-fit: cover;
}

.all-work{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
.projects-row, 
.incomplete-projects-row {
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin-top: 60px;
}
.project,
.fake-project {
    display: flex;
    flex-direction: column;
    background-color: rgb(56, 56, 56);
    padding: 10px;
    width: 380px;
    border-radius: 14px;
    transition: box-shadow 0.75s ease-in-out;
}
.fake-project {
    opacity: 0;
}
.project-picture {
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}
.project-description {
    background-color: rgb(72, 72, 72);
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
}
.project-title-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
.project-title {
    font-size: 20px;
    font-weight: 700;
}
.arrow-icon {
    width: 25px;
    transition: transform 0.75s;
}
.project-subtitle {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 30px;
}
.project-details {
    font-size: 12px;
}
.project:hover {
    box-shadow: 0 0 15px rgba(148, 200, 234, 0.5);
    cursor: pointer;
}
.project:hover .arrow-icon {
    transform: rotate(-45deg);
}